a:link {
  color: rgb(0, 140, 195);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 140, 195);
}

/* mouse over link */
a:hover {
  color: rgb(4, 29, 39);
}

/* selected link */
a:active {
  color: rgb(0, 140, 195);
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  background: rgb(0, 37, 49);
}

.navigation a,
li {
  text-decoration: none;
  display: block;
  padding: 0.5vh;
  color: rgb(255, 255, 255);
}

.navigation a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 37, 49);
  border-radius: 30px;
}

.header a {
  float: left;
  color: rgb(2, 0, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 7px;
}

.header a.logo {
  font-size: 15px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(157, 202, 247);
  color: rgb(22, 22, 22);
}

.header-right {
  float: right;
}

.logo {
  width: 70px;
  margin-top: 15px;
}

.cv__job__ime {
  height: 20px;
}

.cv__job__employer {
  margin-top: 5px;
  gap: 2px;
  display: grid;
}

.cv__job__description {
  padding-top: 15px;
}

.project__pic {
  width: 75%;
  margin: 25px auto 25px auto;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .skills {
    margin: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
  .skills {
    margin: 0;
  }
}
.structure__me {
  padding: 25px;
  display: flex;
  background: linear-gradient(-45deg, #cac7c7, #1e63db, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.structure__me__info {
  margin: 90px auto 25px 25px;
}

.structure__me__info p {
  font-size: 5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.me__pic {
  width: 30%;
  height: 30%;
  border-radius: 53px;
}
.welcome__message {
  margin: 25 25 25 25;
  padding: 25;
  background-image: url("./img/bgimage_way.jpeg");
  background-color: #cac7c7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  color: aliceblue;
}

.welcome__message__text {
  font-size: larger;
  background-color: #222121e2;
  border-radius: 13px;
  padding: 15px;
}
.welcome__message__text span {
  text-decoration: underline;
}

.applications,
.social__links {
  margin: 25px;
  display: grid;
  place-items: center;
  justify-content: space-around;
}
.applications__imgs {
  display: grid;
  place-items: center;
  justify-content: space-around;
}
.applications__logo {
  width: 9vw;
}

.social__links {
  margin: 25;
}

.social__logo {
  width: 9vw;
}

.skills {
  background-color: rgb(1, 68, 92);
  padding: 25px;
  color: aliceblue;
  text-decoration: solid;
  font-size: large;
}
.skills__inner {
  margin: 25px 30% 50px auto;
}

.progress {
  margin-top: 10px;
}
.skills__title {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.project__head {
  background: linear-gradient(-45deg, #fc0000, #1e63db, #00ff22, #00591e);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  border-radius: 13px;
  display: grid;
  place-items: center;
  margin: 25px auto 25px auto;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
