.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  background: rgb(0, 37, 49);
}

.navigation a,
li {
  text-decoration: none;
  display: block;
  padding: 0.5vh;
  color: rgb(255, 255, 255);
}

.navigation a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 37, 49);
  border-radius: 30px;
}

.header a {
  float: left;
  color: rgb(2, 0, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 7px;
}

.header a.logo {
  font-size: 15px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(157, 202, 247);
  color: rgb(22, 22, 22);
}

.header-right {
  float: right;
}

.logo {
  width: 70px;
  margin-top: 15px;
}

.jobTime {
  height: 20px;
}

.jobEmployer {
  margin-top: 5px;
  gap: 2px;
  display: grid;
}

.jobDescription {
  padding-top: 15px;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
}

.me__pic {
  width: 20%;
}
