a:link {
  color: rgb(0, 140, 195);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 140, 195);
}

/* mouse over link */
a:hover {
  color: rgb(4, 29, 39);
}

/* selected link */
a:active {
  color: rgb(0, 140, 195);
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-radius: 13px;
  list-style: none;
  background: rgb(0, 37, 49);
  margin: 10px;
}

.navigation a,
li {
  text-decoration: none;
  display: block;
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: large;
}

.navigation a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 37, 49);
  border-radius: 13px;
}

.header a {
  float: left;
  color: rgb(2, 0, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 7px;
}

.header a.logo {
  font-size: 15px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(157, 202, 247);
  color: rgb(22, 22, 22);
}

.header-right {
  float: right;
}

.logo {
  width: 70px;
  margin-top: 15px;
}

.cv__job__ime {
  height: 20px;
}

.cv__job__employer {
  margin-top: 5px;
  gap: 2px;
  display: grid;
}

.cv__job__description {
  padding-top: 15px;
}

.project__pic {
  width: 75%;
  margin: 25px auto 25px auto;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .skills {
    margin: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
  }
  .navigation a {
    text-align: center;
    margin: 0;
    font-size: medium;
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
  .skills {
    margin: 0;
    border-radius: 13px;
  }
  .me__pic {
    display: none;
  }
}
.structure__me {
  margin-bottom: 10px;
  display: flex;
  background: linear-gradient(
    -60deg,
    rgb(0, 37, 49),
    rgb(1, 74, 99),
    rgb(0, 37, 49),
    rgb(2, 185, 246)
  );
  background-size: 250% 250%;
  animation: gradient 15s ease infinite;
  border-radius: 13px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.structure__me__info {
  margin: 20px auto 5px auto;
}

.structure__me__info p {
  font-size: 5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #cac7c7;
}

.me__pic {
  width: 50px;
  height: auto;
  border-radius: 53px;
  margin: auto 5 auto 5;
}
.welcome__message {
  padding: 25;
  background-color: #cac7c7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  color: aliceblue;
  margin-bottom: 15px;
}

.welcome__message__text {
  font-size: larger;
  background-color: rgb(1, 68, 92);
  border-radius: 13px;
  padding: 15px;
}
.welcome__message__text span {
  text-decoration: underline;
}

.applications,
.social__links {
  margin: 25px;
  display: grid;
  place-items: center;
  justify-content: space-around;
}
.applications__imgs {
  display: grid;
  place-items: center;
  justify-content: space-around;
}
.applications__logo {
  width: 9vw;
}

.social__links {
  margin: 25;
}

.social__logo {
  width: 9vw;
}

.skills {
  background-color: rgb(1, 68, 92);
  padding: 25px;
  color: aliceblue;
  text-decoration: solid;
  font-size: large;
  border-radius: 13px;
  margin-bottom: 15px;
  text-align: center;
}

.progress {
  margin: auto 15%;
}
.skills__title {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.project__head {
  background: linear-gradient(-45deg, #fc0000, #1e63db, #00ff22, #00591e);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  border-radius: 13px;
  display: grid;
  place-items: center;
  margin: 25px auto 25px auto;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.clock {
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 13px 220px auto auto;
}
.clock span {
}
